$background: #161616;
$foreground: #000000;
$foreground-light: #2D2D2D;
$badge: #212121;
$text: #ffffff;
$text-dark: #000000;
$text-subtle: #979797;
$text-subtlest: #949494;
$button-primary-default: #BFFB4F;
$button-primary-hover: #99C93F;
$button-primary-active: #73972F;