@import "./partials/_variables.scss";
@import "./partials/mixins.scss";

h1{
    font-size: 1.38rem;
    text-align: center;
    @include heading;
   }

h2{
    font-size: 0.875rem;
    @include heading;
}

h3{
    font-size: 0.5rem;
    @include heading;
}

p{
    @include p;
}